name: Black Run

on:
  workflow_call:
    inputs:
      app_src_dir:
        description: >
          The application source directory.
        required: true
        type: string

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Setup Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install Black
      run: pip install black
    
    - name: list files
      run: |
        pwd
        ls -latr
      shell: bash

    - name: Run black
      run: black --check ${{ inputs.app_src_dir}}
